@font-face {
    font-family: 'Material Symbols Sharp';
    font-style: normal;
    font-display: block;
    src: url("../webfonts/MaterialSymbolsSharp.woff2") format('woff2');
  }

  .material-symbols-sharp {
    font-family: 'Material Symbols Sharp';
    font-weight: normal;
    font-style: normal;
  }