@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-display: block;
    src: url("../webfonts/MaterialSymbolsRounded.woff2") format('woff2');
  }

  .material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
  }